* {
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.lista__item{
    display: none;

}
.ativa {
    display: block;
}
.lista__nomes__itens{
    padding: 0.5em 2em; 
}
.lista__nomes__itens:hover{
    cursor: pointer;
    border: 1px solid black;
}